body{
	margin: 0;
	background: lightblue;
	justify-content: center;
	text-align: center;
	font-family: courier;
	color: yellow;
}
div{
	display: inline-flex;
}
ul{
	display: inline-flex;
	list-style: none;
}
a{
	text-decoration: none;
	color: yellow;
	outline: none;
}

.nav-bar{
	position: sticky;
	top: 10px;
}
.nav-bar ul li{
	font-size: 30px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: sans-serif;
	padding: 5px;
	border-radius: 10px;
	background: rgb(150,200,150);
}
.nav-bar ul li a{
	color: rgb(50,100,50);
}
.nav-container{
	height: 500px;
	padding-top: 100px;
}